
@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SF-Pro-Display-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SF-Pro-Display-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SF-Pro-Display-Semibold.otf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SF-Pro-Display-Medium.otf") format("truetype");
  font-weight: 500;
}